<div class="row">
  <%= form_tag(wentries_path, method: "get", html: {class: 'form-inline'}) do %>
    <div class="field form-group">
      <%= label nil, t('.from_date'), class: 'col-xs-1 control-label' %>
      <div class="col-xs-4">
        <%= select_date Date.today, prefix: :from_date %>
      </div>
    </div>
    <div class="field form-group">
      <%= label nil, t('.to_date'), class: 'col-xs-1 control-label' %>
      <div class="col-xs-4">
        <%=  select_date Date.today, prefix: :to_date %>
      </div>
    </div>
    <div class="field form-group">
      <%= submit_tag t('.filter'), class: 'btn col-xs-1' %>
    </div>
  <% end %>
</div>

