<%= form_for(@wentry, html: {class: 'form-horizontal'}) do |f| %>
  <% if @wentry.errors.any? %>
    <div class="row">
      <div class="col-sm-9">
        <div id="error_explanation">
          <dt><%= raw t('errors.template.header', count: @wentry.errors.count, model: t('activerecord.models.wentry')) %></dt>
          <ul>
          <% @wentry.errors.full_messages.each do |message| %>
            <li><%= raw message %></li>
          <% end %>
          </ul>
        </div>
      </div>
    </div>
  <% end %>

  <div class="field form-group">
    <%= f.label :category, t('.category_html'), class: 'col-sm-2 control-label' %>
    <div class="col-sm-7">
      <%= f.text_field :category, class: 'form-control' %>
    </div>
  </div>
  <div class="field form-group">
    <%= f.label :amount_in_cents, t('.amount_in_cents'), class: 'col-sm-2 control-label' %>
    <div class="col-sm-7">
      <%= f.text_field :amount, class: 'form-control' %>
    </div>
  </div>
  <div class="field form-group">
    <%= f.label :type, t('.type'), class: 'col-sm-2 control-label' %>
    <div class="col-sm-7">
      <%= f.select :ic, ["Expense", "Income"], {}, {class: 'form-control'} %>
    </div>
  </div>
  <div class="actions">
    <%= f.submit t('.create_entry'), class: 'btn btn-success' %>
  </div>
<% end %>
