<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
<div class="row">
  <div class="col-sm-6">
    <%= pie_chart Wentry.group(:ic).sum(:amount) %>
  </div>
  <div class="col-sm-6">
    <%= pie_chart Wentry.group(:category).sum(:amount) %>
  </div>
</div>

