<p id="notice"><%= notice %></p>

<h1><%= t('.title_html') %></h1>

<%= render 'date_filter_form' %>

<%= render 'pie_chart' %>

<table class="table table-hover">
  <thead>
    <tr>
      <th><%= t('.category_html') %></th>
      <th><%= t('.amount') %></th>
      <th><%= t('.type') %></th>
      <th><%= t('.date') %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @wentries.each do |wentry| %>
      <tr class="<%= 'warning' if wentry.ic == 'Expense' %>">
        <td><%= wentry.category %></td>
        <td><%= number_to_currency(wentry.price) %></td>
        <td><%= wentry.ic %></td>
        <td><%= wentry.created_at.to_date %></td>
        <td><%= link_to t('.show'), wentry %></td>
        <td><%= link_to t('.edit'), edit_wentry_path(wentry) %></td>
        <td><%= link_to t('.destroy'), wentry, method: :delete, data: { confirm: t('.are_you_sure_html') } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('.new_entry'), new_wentry_path, class: 'btn btn-success' %>
