<p id="notice"><%= notice %></p>

<dl>
  <dt><%= t('.category_html') %>:</dt>
  <dd><%= @wentry.category %></dd>

  <dt><%= t('.amount') %>:</dt>
  <dd><%= @wentry.amount %></dd>

  <dt><%= t('.type') %>:</dt>
  <dd><%= @wentry.ic %></dd>
</dl>

<%= link_to t('.edit'), edit_wentry_path(@wentry) %> |
<%= link_to t('.back_html'), wentries_path %>
