<!DOCTYPE html>
<html>
  <head>
    <title>My spendings wallet</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body class='<%= controller.controller_name %>'>
    <div id="main-container" class="container">
      <div class="row">
	<div class="col-xs-3">
          <div class="row">
            <h3><%= t('.menu_html') %></h3>
          </div>
          <ul class="list-unstyled">
            <li><%= link_to t('.expenses'), controller: 'wentries', action: 'index', ic: 'Expense' %></li>
            <li><%= link_to t('.income'), controller: 'wentries', action: 'index', ic: 'Income' %></li>
            <li><%= link_to t('.summary'), controller: 'wentries', action: 'index' %></li>
            <li><a href='https://www.facebook.com/sharer/sharer.php?u=URL'><%= t('.facebook') %></a></li>
          </ul>
          <div class="row">
            <div class="col-xs-6">
              <%= form_tag wentries_path, method: 'get', class: 'locale' do %>
                <%= select_tag 'set_locale',
                  options_for_select(LANGUAGES, I18n.locale.to_s),
                  class: 'form-control',
                  onchange: 'this.form.submit()'%>
                <%= submit_tag 'Ok' %>
                <%= javascript_tag "$('.locale input').hide()" %>
              <% end %>
            </div>
          </div>
	</div>
	<div class="col-xs-9">
	  <%= yield %>
	</div>
      </div>
    </div>
  </body>
</html>
